#board-play-computer,
.fade-in-overlay {
    background-image: url('https://images.chesscomfiles.com/chess-themes/boards/icy_sea/200.png');
}

.coordinate-light {
    fill: #7a9db2;
}

.coordinate-dark {
    fill: #c5d5dc;
}

.highlight {
    background-color: #5ed7f1;
}

#board-play-computer .piece.wk,
#board-play-computer .promotion-piece.wk {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wk.png');
}

#board-play-computer .piece.wq,
#board-play-computer .promotion-piece.wq {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wq.png');
}

#board-play-computer .piece.wr,
#board-play-computer .promotion-piece.wr {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wr.png');
}

#board-play-computer .piece.wb,
#board-play-computer .promotion-piece.wb {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wb.png');
}

#board-play-computer .piece.wn,
#board-play-computer .promotion-piece.wn {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wn.png');
}

#board-play-computer .piece.wp,
#board-play-computer .promotion-piece.wp {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/wp.png');
}

#board-play-computer .piece.bk,
#board-play-computer .promotion-piece.bk {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/bk.png');
}

#board-play-computer .piece.bq,
#board-play-computer .promotion-piece.bq {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/bq.png');
}

#board-play-computer .piece.br,
#board-play-computer .promotion-piece.br {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/br.png');
}

#board-play-computer .piece.bb,
#board-play-computer .promotion-piece.bb {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/bb.png');
}

#board-play-computer .piece.bn,
#board-play-computer .promotion-piece.bn {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/bn.png');
}

#board-play-computer .piece.bp,
#board-play-computer .promotion-piece.bp {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/icy_sea/150/bp.png');
}

#board-play-computer,
#board-play-computer .piece {}



.square-a1 {
    transform: translate(0, 700%);
}

.square-a2 {
    transform: translate(0, 600%);
}

.square-a3 {
    transform: translate(0, 500%);
}

.square-a4 {
    transform: translate(0, 400%);
}

.square-a5 {
    transform: translate(0, 300%);
}

.square-a6 {
    transform: translate(0, 200%);
}

.square-a7 {
    transform: translate(0, 100%);
}

.square-a8 {
    transform: translate(0, 0);
}

.square-b1 {
    transform: translate(100%, 700%);
}

.square-b2 {
    transform: translate(100%, 600%);
}

.square-b3 {
    transform: translate(100%, 500%);
}

.square-b4 {
    transform: translate(100%, 400%);
}

.square-b5 {
    transform: translate(100%, 300%);
}

.square-b6 {
    transform: translate(100%, 200%);
}

.square-b7 {
    transform: translate(100%, 100%);
}

.square-b8 {
    transform: translate(100%, 0);
}

.square-c1 {
    transform: translate(200%, 700%);
}

.square-c2 {
    transform: translate(200%, 600%);
}

.square-c3 {
    transform: translate(200%, 500%);
}

.square-c4 {
    transform: translate(200%, 400%);
}

.square-c5 {
    transform: translate(200%, 300%);
}

.square-c6 {
    transform: translate(200%, 200%);
}

.square-c7 {
    transform: translate(200%, 100%);
}

.square-c8 {
    transform: translate(200%, 0);
}

.square-d1 {
    transform: translate(300%, 700%);
}

.square-d2 {
    transform: translate(300%, 600%);
}

.square-d3 {
    transform: translate(300%, 500%);
}

.square-d4 {
    transform: translate(300%, 400%);
}

.square-d5 {
    transform: translate(300%, 300%);
}

.square-d6 {
    transform: translate(300%, 200%);
}

.square-d7 {
    transform: translate(300%, 100%);
}

.square-d8 {
    transform: translate(300%, 0);
}

.square-e1 {
    transform: translate(400%, 700%);
}

.square-e2 {
    transform: translate(400%, 600%);
}

.square-e3 {
    transform: translate(400%, 500%);
}

.square-e4 {
    transform: translate(400%, 400%);
}

.square-e5 {
    transform: translate(400%, 300%);
}

.square-e6 {
    transform: translate(400%, 200%);
}

.square-e7 {
    transform: translate(400%, 100%);
}

.square-e8 {
    transform: translate(400%, 0);
}

.square-f1 {
    transform: translate(500%, 700%);
}

.square-f2 {
    transform: translate(500%, 600%);
}

.square-f3 {
    transform: translate(500%, 500%);
}

.square-f4 {
    transform: translate(500%, 400%);
}

.square-f5 {
    transform: translate(500%, 300%);
}

.square-f6 {
    transform: translate(500%, 200%);
}

.square-f7 {
    transform: translate(500%, 100%);
}

.square-f8 {
    transform: translate(500%, 0);
}

.square-g1 {
    transform: translate(600%, 700%);
}

.square-g2 {
    transform: translate(600%, 600%);
}

.square-g3 {
    transform: translate(600%, 500%);
}

.square-g4 {
    transform: translate(600%, 400%);
}

.square-g5 {
    transform: translate(600%, 300%);
}

.square-g6 {
    transform: translate(600%, 200%);
}

.square-g7 {
    transform: translate(600%, 100%);
}

.square-g8 {
    transform: translate(600%, 0);
}

.square-h1 {
    transform: translate(700%, 700%);
}

.square-h2 {
    transform: translate(700%, 600%);
}

.square-h3 {
    transform: translate(700%, 500%);
}

.square-h4 {
    transform: translate(700%, 400%);
}

.square-h5 {
    transform: translate(700%, 300%);
}

.square-h6 {
    transform: translate(700%, 200%);
}

.square-h7 {
    transform: translate(700%, 100%);
}

.square-h8 {
    transform: translate(700%, 0);
}